body{
    background-color: #171717;
}

.box{
    width:50px;
    height:50px;
    margin:3px;
    border: 1px solid;
}

.grid{
    display: none;
    /* width:1000px; */
    margin-top: 20px;
    justify-content: center;
}

.title{
    margin-top: 0px;
    margin-bottom: 5px;
    color: #ededed;
    text-align: center;
    font-size: xxx-large;
    border-bottom: 0.5px solid #ededed;
}

.ball,.ball1{
    position:relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid black;
    top: 11px;
    left: 13px;
}

.ball2:first-child{
    top: 12px;
    left: 5px;
}

.ball2:nth-child(2){
    top: -12px;
    left: 20px;
}

.ball3:first-child{
    top: 5px;
    left: 5px;
}

.ball3:nth-child(2){
    top: -19px;
    left: 20px;
}

.ball3:nth-child(3){
    top:-27px;
}
.player-options{
    font-family: 'Abel',sans-serif;
    margin:auto;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 40rem;
    height: 20rem;
    /* padding: auto; */
}
.player-opt{
    margin: auto;
    text-align: center;
    position: relative;
    left: -2%;
    list-style-type: none;
    top:10%;
}
.player-opt li{
    width:auto;
    border: 1px solid #ededed;
    border-radius: 10px;
    margin: 1.5rem;
    color: rgb(59, 210, 220);
    font-size: 3rem;
    transition:background-color 0.7s linear;
    /* transition:color 1s ease-in; */
}

.player-opt li:hover{
    background-color: #ededed;
}

#okay{
    background-color: grey;
}